<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pc Store</title>
  </head>
  <body>
    <h1>PC Store</h1>
    <!--  If user isn't logged show login link -->
    {% if 'username' not in login_session: %}
    <p><a href='{{url_for('showLogin')}}'>Login</a></p>
    {% endif %}

    <!-- If user is logged show logout link -->
    {% if 'username'  in login_session: %}
    <p><a href='{{url_for('gdisconnect')}}'>Log Out</a></p>
    {% endif %}



    <h2>Categories</h2>

    <!-- If user is logged show New Category link -->
    {% if 'username'  in login_session: %}
    <p><a href='{{url_for('newCat')}}'>New Category</a></p>
    {% endif %}
    <!-- Showing Categories links -->
    {% for category in categories%}
    <p><a href='{{url_for('showItems', cat_id = category.id)}}'>{{category.name}}</a></p>
    {% endfor %}

  </body>
</html>
