<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{category.name}}</title>
  </head>
  <body>
      <a href='{{url_for('main')}}'> Home</a>
    <br>
    <h1>{{category.name}}</h1>

    <!-- Check if user is authorized -->
    {% if user_id == category.user_id :  %}
    <p>  <a href='{{url_for('newItem',cat_id = category.id)}}'> Add new item</a></p>
    {% endif %}


    <!-- Showing Items -->
    {% for item in items%}
    {{item.name}}
    <br>
    {{item.description}}
    <br>
    {{item.price}}$
    <br>
    {% if user_id == item.user_id :  %}
    <a href='{{url_for('editItem',cat_id = item.cat_id, item_id = item.id)}}'> Edit </a>
    <br>
    <a href='{{url_for('deleteItem',cat_id = item.cat_id, item_id = item.id)}}'>Delete</a>
    {% endif %}
    <br><br>
    {% endfor %}
  </body>
</html>
